* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    background-color: #ffac42;
}

body {
    margin: auto;
    margin-top: 5%;
    width: 750px;
    height: 100%;
    background-color: white;
    border-radius: 25px;
}

nav {
    /* height: 10vh;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Make the links to the right */
    padding: 0 15px;
}

nav .brand a.navbar-brand {
    cursor: unset;
    /* Remove the Pointer from LOGO */
    border: 0;
    /* Remove the border from LOGO */
}

nav ul {
    display: flex;
    /* Make The links in ul in the same row */
    list-style: none;
}

nav ul li {
    margin-right: 1.2em;
}

header nav a {
    color: black !important;
    text-decoration: none;
}

header nav a:hover {
    color: #ffac42 !important;
    transition: .3s;
    border-bottom: 1px solid #ffac42;
}

header nav a.active {
    color: #ffac42 !important;
    transition: .3s;
    border-bottom: 1px solid #ffac42;
}

.question {
    padding: 50px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.question .question-Number {
    text-align: left;
    font-size: 1.1em;
    font-weight: 700;
    color: rgb(0, 150, 136);
    padding-bottom: 10px;
    line-height: 25px;
}

.question .questuion-Text {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    padding: 20px 0;
    line-height: 32px;
    color: black;
    border-top: 1px solid rgb(205, 205, 205);
}

.question .option-Question {
    width: 100%;
}

.question .option-Question .option {
    text-align: left;
    background-color: rgb(205, 205, 205);
    padding: 15px;
    font-size: 1.5em;
    color: black;
    border-radius: 5px;
    line-height: 25px;
    margin: 10px 0;
    border: 2px solid white;
}

.question .option-Question .option:hover {
    background-color: rgb(172, 170, 170);
}

.question .NextQustion button {
    background-color: rgb(0, 150, 136);
    margin: 20px 0;
    width: 100PX;
    height: 40PX;
    border-radius: 5px;
    border: none;
    color: white;
    margin-bottom: 35px;
}

.question .NextQustion button:hover {
    background-color: rgb(32, 179, 164);
}

.questionDone {
    display: flex;
    flex-direction: row;
}

.question-Number span {
    display: flex;
}

.questionDone div {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
}

footer .social {
    text-align: center;
}

footer .social ul {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}

footer .social ul li {
    margin-right: 1em;
    float: left;
}

footer .social ul li a {
    color: black;
}

footer .social ul li i {
    color: black;
    font-size: 1.3em;
    margin-bottom: .5em;
}

footer .copyright {
    text-align: center;
}

footer .copyright p {
    margin: 0;
    padding-bottom: 1em;
    font-size: .8em;
}

@media (min-width:2000px) {
    main {
        width: 70%;
        height: 100%;
    }
}

@media (max-width:768px) {
    body {
        border-radius: 0px;
    }
    html {
        background-color: #ffffff;
    }
    .question {
        padding: 50px 20px;
    }
}