
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

html {
    background-color: #b85d62;
}

body {
    margin: 0 auto;
    width: 80%;
    border-radius: 1em;
    margin-top: 2.5%;
    background-color: white;
    box-shadow: 0px 15px 35px -15px rgba(0, 0, 0, 0.7);
}

nav {
    /* height: 10vh;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Make the links to the right */
    padding: 0 15px;
}

nav .brand a.navbar-brand {
    cursor: unset;
    /* Remove the Pointer from LOGO */
    border: 0;
    /* Remove the border from LOGO */
}

nav ul {
    display: flex;
    /* Make The links in ul in the same row */
    list-style: none;
}

header nav a {
    color: #bd5c8f !important;
    text-decoration: none;
}

header nav a:hover {
    color: #bd5c8f !important;
    transition: .3s;
}

header nav a.active {
    transition: .3s;
    background-color: #b8b5c6;
    padding: .3em .9em;
    border-radius: 1em;
    color: #bd5c8f !important;
}

.question {
    font-family: 'Montserrat', sans-serif;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.question .question-Number {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.1em;
    font-weight: 700;
    color:  #b8b5c6;
    margin: 20px 0 0 0;
}

.question .questuion-Text {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: .35em;
    margin-bottom: .7em;
    color: #ca006c;
    text-align: center;
}

.question .option-Question {
    width: 30%;
    margin: 0 auto;
}

.question .option-Question .option {
    text-align: center;
    background-color: #b8b5c6;
    color: whitesmoke;
    padding: .8em;
    font-size: 1em;
    border-radius: 1.5em;
    margin-top: .9em;
    outline: hidden;
    cursor: pointer;
}

.question .option-Question .option:hover,
.question .option-Question .option:focus  {
    background-color: rgb(189, 141, 168);
    
}

.question .NextQustion button {
    background-color:#bd5c90;
    margin: 1.5em 0 1em 0;
    padding: .7em 2em;
    border-radius: 2em;
    border: none;
    color: white;
    cursor: pointer;
}

.question .NextQustion button:hover {
    background-color: #b8b5c6;
}

.questionDone {
    display: flex;
    flex-direction: row;
}

.question-Number span {
    display: flex;
}

.questionDone div {
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #b8b5c6;
}

footer .social {
    text-align: center;
    margin-top: 1em;
}

footer .social ul {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}

footer .social ul li {
    margin-right: 1em;
    float: left;
}

footer .social ul li a {
    color: #bd5c8f;

}

footer .social ul li i {
    color:      #bd5c8f;
    
    font-size: 1.3em;
    margin-bottom: .5em;
}

footer .copyright {
    text-align: center;
}

footer .copyright p {
    margin: 0;
    padding-bottom: 1em;
    font-size: .8em;
    
}
footer .copyright span {
    color: #bd5c8f;
}

@media (min-width:2000px) {
    main {
        width: 70%;
        height: 100%;
    }
}

@media (max-width:768px) {
    /* body {
        border-radius: 0px;
        width: 100%;
        margin: 0;
    } */



    .question .option-Question {
        width: 40%;
    }
}

@media (max-width:426px){
    .question .option-Question {
        width: 90%;
    }
}