@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');



* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h2 {
    color: #bd5c8f;
    font-weight: 600;
    font-size: 2em;

    margin: auto;
    padding-bottom: .3em;
}



html {
    background-color: #b85d62;
    font-family: 'Montserrat', sans-serif;

}

body {
    margin: 0 auto;
    width: 80%;
    border-radius: 1em;
    margin-top: 2.5%;
    background-color: white;

    box-shadow: 0px 15px 35px -15px rgba(0, 0, 0, 0.7);
}

nav {
    /*  height: 10vh;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Make the links to the right */
    padding: 0 15px;
}

nav .brand a.navbar-brand {
    cursor: unset;
    /* Remove the Pointer from LOGO */
    border: 0;
    /* Remove the border from LOGO */
}

nav ul {
    display: flex;
    /* Make The links in ul in the same row */
    list-style: none;
}

header nav a {
    color: #bd5c8f !important;
    text-decoration: none;
    padding: .3em .9em;
}

header nav a:hover {
    color: #bd5c8f !important;
    transition: .3s;
}

header nav a.active {
    transition: .3s;

    background-color: #b8b5c6;
    padding: .3em .9em;
    border-radius: 1em;
    color: #bd5c8f !important;
}

main {
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

table td {
    border: #b8b5c6 .2px solid;
    width: 30%;
    color: black;
    font-size: 1.15em;
    padding: .9em 2em;
    text-align: left;
    font-weight: 500 !important;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 2em;
}



button {
    font-size: .9em;
    color: white;
    background-color: #bd5c8f;
    padding: 0.8em 0.9em;
    border-radius: 2em;
    margin: 1.25em 1em 1.25em 0;
    border: 0;

    cursor: pointer;
}

button:hover {
    background-color: #b85d62;
    transition: .3s;
}

footer .social {
    text-align: center;
}

footer .social ul {
    list-style: none;
    display: inline-block;
    margin: 0 auto;

}

footer .social ul li {
    margin-right: 1em;
    float: left;
}

footer .social ul li a {
    color: #bd5c8f;
}

footer .social ul li i {
    color: #bd5c8f;
    font-size: 1.3em;
    margin-bottom: .5em;
}

footer .copyright {
    text-align: center;
}

footer .copyright p {
    margin: 0;
    padding-bottom: 1em;
    font-size: .8em;
}

footer .copyright span {
    color: #bd5c8f;

}

@media screen and (max-width: 768px) {
    table{
        width: 95%;
    }
    button {
        width: 40%;
    }
    @media screen and (max-width: 400px){
        table td{
            padding:2px;
            font-size: 0.9em;
            width: 20%;
        }
        header nav a.active {
            margin-right: 1em;
        }
        header nav a{
            font-size:1em ;
        }

        h2{
            font-size: 1.5em;
            border-bottom: 0;
            width: fit-content;
        }
       nav{
           padding: 0;
       }
       button{
           font-size: 0.6em;
       }
 
}}